@import url("small_phone.css");

* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}



@media print {
    img {
        display: none;
    }
    body {
        display: none;
    }
}